<div class="home-background">
    <div class="home-header">
        Discover a New Journey
    </div>
    <div class="home-paragraph">
        The Book It aplication allows users to create, update and delete books. Sign up now!
    </div>

    <%= link_to "Sign up", "/signup", class: "home-button btn btn-success" %>
    <%= link_to "Explore", books_path, class: "home-button explore text-center link" %>
</div>


<%= render 'shared/books', books: eight_random_books %>